---
---
<!DOCTYPE html>
<html lang="en">

<head>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name=dropbox-domain-verification content=r2aszaefmngt />

    <title>{{ page.title }}</title>

    <!-- Begin Inspectlet Embed Code -->
<script type="text/javascript" id="inspectletjs">
window.__insp = window.__insp || [];
__insp.push(['wid', 481586850]);
(function() {
function ldinsp(){if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
setTimeout(ldinsp, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
})();
</script>
<!-- End Inspectlet Embed Code -->

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" type="image/png" href="/favicon.png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- dataLayer for Google Tag Manager. Added by Sam 13/7/15 -->
    <script>
      dataLayer = [];
    </script>


</head>

<body id="page-top" class="index">

  {% include google-tag-manager.html %}

  {% include nav.html %}

  {{ content }}

  {% include services-modals.html %}
<!-- might remove from here if start generating other pages from this default.html that don't require the Services Modals -->

  <footer>
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-md-push-3">
                <div class="col-md-3">
                  <img class="footer-image" src="/img/logos/CA-logo_OB-STACKED-WEB.jpg"/>
                </div>
                <div class="col-md-3">
                  <img src="/img/logos/xero-gold-partner.png"/>
                </div>
                <div class="col-md-3">
                  <img src="/img/logos/xero-certified-advisor.png"/>
                </div>
                <div class="col-md-3">
                  <a href="https://www.auditassistant.com/"><img src="/img/logos/audit-assistant.png"/>
                </div>
              </div>
              <div class="col-md-3 col-md-pull-6">
                  <span class="copyright">Copyright &copy; The Invisible Office Company Ltd</span>
              </div>
          </div>
      </div>
  </footer>


      <!-- jQuery -->
      <script src="/js/jquery.js"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="/js/bootstrap.min.js"></script>

      <!-- Plugin JavaScript -->
      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
      <script src="/js/classie.js"></script>
      <script src="/js/cbpAnimatedHeader.js"></script>

      <!-- Contact Form JavaScript -->
      <script src="/js/jqBootstrapValidation.js"></script>
    <!-- hide contact-me.js for testing SB 10/7
      <script src="/js/contact_me.js"></script>
    -->

      <!-- Custom Theme JavaScript -->
      <script src="/js/agency.js"></script>

</body>

</html>
